.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title {
  color: #171f46;
  font-family: 'Roboto';
  text-align: center;
  font-size: 25px;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  text-align: center;
  font-size: 25px;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  width: 50px;
}
