* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.container {
  display: flex;
  flex-direction: column;
  background-color: #f4faff;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 30px;
  text-align: center;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
  text-align: center;
}
